[Unit]
Description=TCP and UDP Port Checker Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/tcp_udp_checker.py
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
